{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row p-5 mt-5" id="lkg" >
<div class="col-md-6 m-5"> 
<h1 class="title"> Health Insurance</h1>
<p>compare & Buy Customised Health plans starting 
 at just Rs.257/month*</p>
 
 <input type="submit"class="btn btn-primary btn-lg" value="Male">
 <input type="submit"class="btn btn-primary btn-lg" value="Female">
 <br>
  <button style="margin-top:30px; margin-right:20px;">Name</button> 
 <button>Mobile Number</button> </p></div>
 <div class="col-md-4 " id="q">
 <div data-aos=""flip-right data-aos-duration="2800"">
  <img src="{% static 'image/s.jpg' %}"height="300px" width="100%" />
  
  </div>
 </div></div></div>
 
 <div class="row  p-3 mt-5 mb-4">
<div class="col-md-5 p-4" id="preet"> 
<h2 class="title"> What is Health Insurance </h1>
<p>Health insurance or medical insurance is an agreement wherein an insurance company agrees to compensate the insured for the medical and surgical expenses incurred during the policy tenure. The medical expenses may incur if the insured falls ill, or meets an accident that leads to hospitalisation of the insured. To be eligible to avail coverage benefits under the policy, the policyholder is required to pay a specific amount periodically, known as premium. Health insurance premium is decided by an insurance company and policyholders are required to pay the same on a monthly, quarterly, half-yearly, or yearly basis, without any lapse, to avoid losing the renewal benefits.</p></div>
<div class="col-md-6" id="n">
<div data-aos="fade-left""data-aos-duration="2700">
<img src="{% static 'image/91.jpg' %}"height="300px" width="100%" /></div>

</div>
</div>

<div class="row bg-dark text-light p-5" id=>
<div class="col-md-12"> 
<h3 class="text-center">Importance of Health Insurance Plans in India</h1>
<p>With rising healthcare expenses, access to the required and quality medical treatment can be financially draining. So, to protect yourself and your family against these expenses, you must get everyone insured under a reliable health insurance plan in time. Here are top reasons why you should consider buying health insurance today.</p></div>
  </div>
  <a href="/reg/"><button class="btn btn-primary btn-lg">insure now</button></a></div></div>
 
 <div class="row p-5 ">
<div class="col-md-6 m-5"> 
<h1 class="title"> Car Insurance</h1>
<p> Secure Your car & save upto 75% on plans offered by insures</p>
<input type="submit"class="btn btn-primary btn-lg" value="Your car number ex DL-12-AB-2345"><br>
<br>
 <div class="col-md-4 " id="n" id="q">
 <div data-aos="zoom-in">
 <img src="{% static 'image/k.jpg' %}"height="300px" width="100%" /></div>
</div></div>


<div class="row p-5" id="click">
<div class="col-md-4 p-3 offset-2">
<h1 class="title">Car Insurance</h1>
<p>Secure Your Car & Save upto 75%* on Plans offered by Insurers</p>
<label for="3f259cca727f2" class="">Your car number ex DL-12-AB-2345</label><br>
<button class="btn btn-primary text-center">Insure Now -></button>
<p class="here">Don't know your car number?<ul class="nav"><li><a class="nav-link" href="#">click Here </a></li></p></ul>
<p>Brand new car?</p>
<p>By clicking, I agree to*terms & conditions and privacy policy.</p>
</div>
<div class="col-md-4 p-3">
<div data-aos="zoom-in">
<img src="{% static 'image/15.jpg' %}"height="350px" width="100%" />
</div></div>
<div class="row">
<div class="col-md-2 offset-5 border">
<p>Best Car Insurance Plans</p></div></div>
<div class="row">
<div class="col-md-12 p-3">
<h1 class="text-center text-primary bg-light"><marquee>What is Car Insurance?</marquee></h1></div></div>
<div class="row">
<div class="col-md-6 offset-1">
<p>Car insurance is a contract between a car owner and a general insurance company 
wherein the latter promises to protect the car owner from financial losses which may 
occur due to an unfortunate event involving his/her car. Depending on the scope of coverage, 
there are 3 types of car insurance policies - Third-Party Car Insurance, Standalone Own-Damage 
(OD) Car Insurance, and Comprehensive Car Insurance. To continue to avail the benefits of these policies, the car insurance renewal should be processed on time by policyholders.</p></div>
<div class="col-md-4" id="n">
<div data-aos="zoom-in">
<img src="{% static 'image/123.jpeg' %}"height="250px" width="100%" /></div></div>
</div>

<div class="row p-2">
<div class="col-md-4 p-4 ">
<div class="col-md-12 p-2 border" id="n">
<h3 class="title">Comprehensive Car Insurance</h3>
<p>A Comprehensive Car Insurance policy is the most extensive car insurance cover under which an insurance company is liable to pay for financial liabilities incurred towards a third party as well as for the own-damages sustained by the insured’s car. In addition to road accidents, the policy is applicable in the event of natural calamities, man-made disasters, self-ignition or lightning, explosion, fire, theft, etc  others.<br></p>
<button class="btn btn-primary text-center">View Quotes</button>
</div>
</div>

<div class="col-md-4 p-4">
<div class="col-md-12 p-2 border" id="n">
<h3 class="title"><i class="fa fa-search"></i>Third-Party Car Insurance</h3>
<p>Third-Party car insurance policy is a mandatory requirement for driving a car in India. Under this cover, the insurance company is liable to pay for the bodily injuries, permanent disability, temporary disability as well as death of the third party caused by an accident involving the insured’s car. This plan also provides coverage for property damage incurred by the third party up to Rs.7.5 Lakh.<br></p><br>
<button class="btn btn-primary text-center">View Quotes</button>
</div>
</div>
<div class="col-md-4 p-4">
<div class="col-md-12 p-2 border" id="n">
<h3 class="title">Own Damage Car Insurance</h3>
<p>In September 2019, the Insurance Regulatory and Development Authority of India (IRDAI) introduced the standalone Own-Damage car insurance policy. Under this plan, the insured gets insurance coverage only for the own-damages sustained by the his/her four-wheeler in a road accident, natural/man-made calamity, fire, explosion, theft or any other mishap. A standalone own-damage car insurance policy aims at offering theinsurance.</p>

<button class="btn btn-primary text-center">View Quotes</button></div></div>
</div></div> </div></div></div>
{% endblock %}
 