
#heading a:hover{color:red;}

#bg a{color:white:}
#about{background-image:url('../static/image/b5.jpg');background-size:cover; padding:250px; background-attachment:fixed;}
#header .row{padding:20px;}
#licstyle{color:red;}
.a{text-align:center; padding:20px;}
#zzz{text-align:center;}
#g{text-align:center; padding:25px; background:brown;color:light;}
.z{padding:20px;}
#v{text-align:center; padding:80px; background-color: navy; color:light;} 
.s3{text-align:center;}
.r{text-align:center; color:blue;}
.imgspace{margin-top:80px;}
#t{background-color:silver ; border:1px black solid;}
#a1{background-image:url('../static/image/s.webp');background-size:cover;}
#l1{ margin-top:130px;}
.r{background:black; color:white;}
.g5{background:green;}
#ser img{border-radius:100px;}
#l{background-color:silver; background-size:cover;}
.reg{text-align:center;color:red; font-weight:bold;}
#p{ text-align:center; margin:10px;
 color:light; }
#z2{font-size:6px;background-color:silver;padding:20x;}
.j5 i{font-size:100px; color:blue;padding:50px; }
#about{margin-top:10px;}
#vv{background-image:url('../static/image/t.jpg');background-size:cover;text-align:center; margin-top:80px;  padding:30px;}

#preet{text-align:center; background-color:silver;}
#heading  i{ color:red;}
#zoom .zo:hover{transform:scale(1.1);}
#heading{position:fixed;}
#heading1{position:fixed; margin:1;}

#shadow{box-shadow:6px 6px 5px black ;}
#lp i{box-shadow:6px 6px 5px black ;}
#lp{margin-top:30px;}
#mk i{font-size:100px; color:blue; padding:50;
#q{margin-left:80px;}
#t{margin:20px 40x 40px 40px;}
.name input{font-size:26px; margin-left:180px;}
