
#heading a:hover{color:grey;}
#heading a{color:white;}
#bg a{color:white;}
.n{box-shadow:1px 1px 10px black;}
#vvv{text-align:center;font-family:Lucida Calligraphy; font-size:30px;color:#1439b3;}
#ab5{border-radius:50px;}
.iconstyle{font-size:40px;}
#header .row{padding:20px;}
#c5{text-align:center;}
#lkg{background-image:url('../static/image/28.webp');background-size:cover; padding:170px;}
#licstyle i{color:white;}
#v1{background-image:url('../static/image/13.jpg');background-size:cover; padding:170px;} 
.a{text-align:center; padding:20px;}
#rest{background-image:url('../static/image/100.webp'); height:500px; width:100%; background-size:cover; padding:170px; background-repeat:no-repeat;}
#kkk{background-image:url('../static/image/0.jpg');background-size:cover; padding:170px;}
#zk{background-image:url('../static/image/100.webp');background-size:cover; padding:170px;}
#healthform,#businessform,#lifeform{display:none;}
#mnp{background-image:url('../static/image/0.jpg');background-size:cover; padding:170px;}
#n{box-shadow:1px 1px 10px black;}

#prt img{border-radius:300px;}
#or{background-image:url('../static/image/tt.jpg');background-size:cover;} 
#pkt{background-image:url('../static/image/l.jpg');background-size:cover; padding:170px;} 
#p2{padding:15px;}
#or{ border-color:black;}

#kl{background-color:lavender}
.pp{font-size:50;}
#txt .text:hover{color:red;}
#g{text-align:center; padding:25px; background:brown;color:light;}
#gt i{margin-left:15px; margin-right:5px; font-size:30px;}
.z{padding:20px;}
#rst{color:black;}
#ps{color:;}
.title{color:#1439b3; font-family:Lucida Calligraphy; font-size:30px;}
.reg{color:#red;}

.price a:hover{color:grey;}
.service{background:#c98e71;}
#sim img{border-radius:20px;}
#v{text-align:center; padding:80px; background-color: navy; color:light;} 
.s3{text-align:center;}
.r{text-align:center; color:blue;}

#a1{background-image:url('../static/image/s.webp');background-size:cover;}
#l1{background-image:url('../static/image/27.jpg');background-size:cover;}
.r{background:black; color:white;}
#l2{font-family:Lucida Calligraphy; font-size:30px; background-color:#1439b3;}
#l2{background:#99deb6;}
#g5{color:white;margin-top:50px;}
#b6 a:hover{color:white;}
#cnt{background-image:url('../static/image/b5.jpg');background-size:cover; padding:250px;}
#ser img{border-radius:100px;}
#ser {margin-top:100px;}
#l{background-color:silver; background-size:cover;}
.navigation a{color:grey; font-size:18px;}
#b1{background-color:#ccccff;border-radius:30px;margin-left:20px;}


#p{ text-align:center; margin:10px;
 color:light; }
#z2{font-size:6px;background-color:silver;padding:20x;}

.j5 i{font-size:100px; color:blue;padding:50px; }
#about{margin-top:10px;}
#vv{background-image:url('../static/image/t.jpg');background-size:cover;text-align:center; margin-top:80px;  padding:30px;}
#top{background-image:url('../static/image/30.jpg');background-size:cover; padding:250px; margin-top:50px;}

#preet{text-align:center; background-color:;}
#zp{color:white;}
#heading  i{ color:white;}
#zoom .zo:hover{transform:scale(1.1);}
#heading{position:fixed;}
#heading1{position:fixed; margin:1;}
#heading h3{color:silver;Font-family:Harrington; font-weight:bold;}
#shadow{box-shadow:6px 6px 5px black ;}
 #ps{background-image:url('../static/image/555.jpg');background-size:cover; padding:170px;}}
#lp i{box-shadow:6px 6px 4px black;border-radius:300px;ss}
#mk i{font-size:100px; color:blue; padding:50;
#q{margin-left:80px;}
#t{margin:20px 40x 40px 40px;}
.name input{font-size:26px; margin-left:180px;}